## Portfolio Optimization

In this notebook, we attempt portfolio optimization via convex programming.

In [1]:
import pandas as pd

assets = pd.read_csv('http://people.brunel.ac.uk/~mastjjb/jeb/orlib/files/port5.txt', 
                 sep = " ", nrows = 225)
assets.columns = ['mu', 'sd']
assets.reset_index(drop = True, inplace = True)
assets.head()

         mu        sd
0 -0.001117  0.037894
1  0.003123  0.049735
2 -0.003471  0.048318
3 -0.000585  0.043137
4 -0.000769  0.035887

In [2]:
cors = pd.read_csv('http://people.brunel.ac.uk/~mastjjb/jeb/orlib/files/port5.txt', 
                 sep = " ", skiprows = 225)
cors.columns = ['i', 'j', 'cor']
cors.reset_index(drop = True, inplace = True)
cors.head()

   i  j       cor
0  1  1  1.000000
1  1  2  0.400689
2  1  3  0.533499
3  1  4  0.575209
4  1  5  0.524052

In [29]:
n = len(assets)
mu = assets.mu.values

Kdict = dict()

for row in cors.values:
    i, j, cor = row
    Kdict[str(int(i)) + '+' + str(int(j))] = cor

import numpy as np
cov = np.ones((n, n))

for i in range(n):
    for j in range(i, n):
        cov[i,j] = cov[j,i] = Kdict[str(i+1) + '+' + str(j+1)] * assets.sd[i] * assets.sd[j]

In [34]:
import cvxpy as cp

x = cp.Variable(n)

constraints = [0 <= x,
               0.002 <= mu.T@x,
               np.ones(n).T@x == 1]

obj = cp.Minimize((1/2)*cp.quad_form(x, cov))

prob = cp.Problem(obj, constraints)
prob.solve()  

print("status:", prob.status)
print("optimal value", prob.value)

status: optimal
optimal value 0.00019491212623871042

In [52]:
optimal = pd.DataFrame(x.value)
optimal.columns = ['percent']
optimal.head()

        percent
0  1.430927e-11
1  3.206033e-11
2  1.142859e-11
3  3.012947e-11
4  3.116209e-11

In [55]:
optimal.percent.sum()

0.9999999999999994

In [59]:
optimal.max(axis = 0)

percent    0.256742
dtype: float64

In [68]:
pd.options.display.float_format = '{:,.4f}'.format
optimal.sort_values('percent', ascending = False).head()

     percent
61    0.2567
59    0.1201
195   0.0980
39    0.0866
42    0.0812